* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

:root {
  --font-size-html: calc(1vw / 14.4);
  --main-container: 1440px;
}

@media (min-width: 1440px) {
  :root {
    --font-size-html: 1px;
  }
}

@media (max-width: 640px) {
  :root {
    --font-size-html: calc(1vw / 3.6);
  }
}

button {
  border: none;
  background-color: transparent;
  font-family: inherit;
}

button:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: var(--font-size-html);
}

html.blocked,
body.blocked {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16rem;
  width: 100vw;
  overflow-x: hidden;
  background-color: #f0f0f0;
}

.page-result {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-wrapper {
  flex: 1 0 auto;
}

/* nav */

.header {
  background-color: #fff;
  box-shadow: 0 1rem 20rem 0 rgba(0, 0, 0, 0.125);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.header-wrapper {
  max-width: var(--main-container);
  margin: 0 auto;
  padding: 20rem;
  display: flex;
  flex-direction: column;
  gap: 15rem;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  gap: 30rem;
}

.nav-item-url {
  text-decoration: none;
  color: #000;
  font-size: 14rem;
}

.nav-item-url:hover {
  color: #5802a3;
}

.ctrl-panel-wrapper {
  display: flex;
  align-items: center;
  gap: 20rem;
}

.store-name-title {
  font-size: 50rem;
  font-weight: 800;
  white-space: nowrap;
  color: #5802a3;
}

.btn-ctrl-panel {
  border: none;
  background-color: transparent;
  width: 200rem;
  height: 58rem;
  cursor: pointer;
  font-family: inherit;
  font-size: 14rem;
  font-weight: 500;
  border-radius: 10rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 5rem;
  color: #5802a3;
  background-repeat: no-repeat;
  position: relative;
}

.btn-ctrl-panel:hover {
  background-color: #f7f7f7;
}

.btn-ctrl-panel-fav {
  background-image: url("./assets/imgs/fav5.svg");
  background-position: 50% 25%;
  background-size: 20rem;
}

.btn-ctrl-panel-basket {
  background-image: url("./assets/imgs/basket2.svg");
  background-position: 50% 15%;
  background-size: 28rem;
}

.basket-product-count {
  position: absolute;
  top: 15rem;
  right: 25rem;
  background-color: #5802a3;
  color: #eeeeee;
  width: 25rem;
  height: 25rem;
  border-radius: 25rem;
  border: 3rem solid #fff;
  box-sizing: border-box;
  font-size: 12rem;
  line-height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-ctrl-panel-login {
  background-image: url("./assets/imgs/login.svg");
  background-position: 50% 20%;
  background-size: 24rem;
}

.search-form {
  flex: 0 1 100%;
  height: 100%;
}

.search-form-wrapper {
  border: 1px solid #5802a3;
  display: flex;
  border-radius: 10rem;
  overflow: hidden;
}

.search-form-input {
  display: inline-block;
  padding: 0 15rem;
  border: none;
  flex: 0 1 100%;
  font-size: 14rem;
}

.search-form-input::placeholder {
  font-size: inherit;
}

.search-form-input:focus {
  border: none;
  outline: none;
}

.search-form-btn {
  width: 150rem;
  height: 58rem;
  border: none;
  background-color: #5802a3;
  color: #fff;
  font-family: inherit;
  font-size: 14rem;
  cursor: pointer;
}

/* page */

.page {
  margin: 155rem 0 60rem;
}

.container {
  max-width: var(--main-container);
  margin: 0 auto;
  padding: 0 20rem;
}

.main-part {
  display: flex;
  gap: 20rem;
  margin-top: 10rem;
}

.left-part {
  flex: 0 1 30%;
}

.right-part {
  flex: 0 1 100%;
}

.swiper-slide {
  min-height: 300rem;
  background-color: #5802a3;
  color: #fff;
  border-radius: 10rem;
  padding: 10rem;
  box-sizing: border-box;
  box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.16);
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 24rem !important;
  color: #fff;
}

.swiper {
  padding-bottom: 35rem !important;
}

.swiper-pagination-bullet-active {
  background: #5802a3 !important;
}

.swiper-button-prev,
.swiper-button-next {
  top: 45% !important;
}

.swiper-pagination-bullet {
  border-radius: 10rem !important;
  width: 40rem !important;
  height: 4rem !important;
}

.category-list-title {
  font-size: 28rem;
  margin-bottom: 10rem;
}

.category-wrapper {
  background-color: #fff;
  padding: 20rem 15rem;
  border-radius: 10rem;
  box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.16);
}

.category-item {
  padding: 8rem 5rem;
  border-radius: 5rem;
  font-size: 14rem;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}

.category-item:hover:after {
  content: "";
  position: absolute;
  right: 5rem;
  top: 10rem;
  width: 15rem;
  height: 15rem;
  background-image: url("./assets/imgs/arrow-left.svg");
  background-position: center right;
  background-size: 15rem;
  background-repeat: no-repeat;
  transform: rotate(180deg);
}

.category-item:hover {
  background-color: #5802a3;
  color: #fff;
}

.category-item:not(:last-child) {
  margin-bottom: 5rem;
}

.filters {
  background-color: #fff;
  padding: 20rem 15rem;
  border-radius: 10rem;
  margin-bottom: 10rem;
  box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.16);
}

.filters-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.filters-item-title {
  font-size: 12rem;
  color: gray;
  flex: 0 0 120rem;
}

.filters-item {
  display: flex;
  gap: 10rem;
  align-items: center;
}

.filter-sort-list {
  display: flex;
  gap: 10rem;
}

.filter-sort-item {
  font-size: 14rem;
  padding: 6rem 10rem;
  cursor: pointer;
  background-color: #e0e0e0;
  border-radius: 5rem;
}

.filter-sort-item.active,
.filter-sort-item:hover {
  background-color: #5802a3;
  color: #fff;
}

.pagination {
  display: flex;
  gap: 10rem;
  align-items: center;
}

.pagination-list {
  display: flex;
  gap: 5rem;
}

.pagination-item {
  padding: 7rem 14rem;
  cursor: pointer;
  font-size: 14rem;
  border-radius: 5rem;
  background-color: #e0e0e0;
}

.pagination-item.active,
.pagination-item:hover {
  background-color: #5802a3;
  color: #fff;
}

.products-item {
  background-color: #fff;
  padding: 20rem 15rem;
  border-radius: 10rem;
  min-height: 200rem;
  box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.16);
}

.products-item-loader {
  min-height: auto;
}

.products-item:not(:last-child) {
  margin-bottom: 20rem;
}

.product-info-wrapper {
  display: flex;
  gap: 20rem;
}

.product-action-block {
  flex: 0 1 30%;
  display: flex;
  flex-direction: column;
  gap: 20rem;
  align-items: flex-start;
  justify-content: space-between;
}

.product-btns-group {
  display: flex;
  gap: 5rem;
  width: 100%;
}

.product-price {
  font-size: 32rem;
  font-weight: 600;
}

.product-price-group {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  align-items: flex-start;
}

.product-bonus {
  background-color: #eeeeee;
  display: inline-block;
  font-size: 12rem;
  padding: 5rem;
  border-radius: 5rem;
  color: #5802a3;
  font-weight: 600;
}

.product-img {
  width: 200rem;
}

.product-main-info {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  border-right: 1rem solid #e0e0e0;
  flex: 0 0 50%;
  padding-right: 20rem;
}

.product-name {
  font-size: 18rem;
}

.product-info-text {
  color: #777;
  font-size: 12rem;
}

.products-list-title {
  font-size: 28rem;
  margin-bottom: 10rem;
}

.product-btn {
  color: #fff;
  font-family: inherit;
  border-radius: 10rem;
  display: block;
  height: 50rem;
  cursor: pointer;
  font-weight: 500;
  font-size: 14rem;
}

.product-btn-buy {
  background-color: #5802a3;
  flex: 0 1 100%;
}

.product-btn-buy.active {
  background-color: transparent;
  border: 1rem solid #5802a3;
  color: #5802a3;
}

.product-btn-fav {
  background-color: #f0f0f0;
  color: #5802a3;
  width: 50rem;
  flex: 0 0 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-btn-fav:hover svg {
  fill: #5802a3;
}

.product-btn-fav svg {
  display: block;
  width: 20rem;
  height: 20rem;
}

.product-availability {
  font-size: 12rem;
  padding-left: 15rem;
  position: relative;
  color: #777;
}

.product-availability::before {
  content: "";
  width: 8rem;
  height: 8rem;
  background-color: #5802a3;
  position: absolute;
  top: 4rem;
  left: 0;
  border-radius: 10rem;
}

.footer {
  background-color: #fff;
}

.footer-wrapper {
  max-width: var(--main-container);
  padding: 60rem 20rem;
  margin: 0 auto;
  display: flex;
  gap: 30rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-text {
  font-size: 12rem;
  font-weight: 700;
}

.icons-list {
  display: flex;
  gap: 10rem;
}

.icon-item {
  width: 30rem;
  height: 30rem;
  background-color: #5802a3;
  border-radius: 30rem;
}

.footer-list {
  display: flex;
  gap: 20rem;
}

.footer-item-url {
  text-decoration: none;
  color: #000;
  font-size: 12rem;
  font-weight: 400;
}

.loader {
  width: 100%;
  height: 16rem;
  display: inline-block;
  background-color: #f0f0f0;
  border: 1rem solid #f0f0f0;
  border-radius: 4rem;
  background-image: linear-gradient(45deg, #5802a3 25%, transparent 25%, transparent 50%, #5802a3 50%, #5802a3 75%, transparent 75%, transparent);
  font-size: 30rem;
  background-size: 1em 1em;
  box-sizing: border-box;
  animation: barStripe 1s linear infinite;
}

@keyframes barStripe {
  0% {
    background-position: 1em 0;
  }
  100% {
    background-position: 0 0;
  }
}

.basket {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
}

.basket-paranja {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.basket.hide .basket-paranja {
  visibility: hidden;
  opacity: 0;
}

.basket-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: #fff;
  width: 600rem;
  height: 100vh;
  transition: all 0.3s ease-in-out;
}

.basket.hide .basket-wrapper {
  right: -600rem;
}

.basket-wrapper {
  padding: 0 15rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.basket-list {
  height: 77vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.basket-title {
  font-size: 28rem;
  padding: 20rem 0 0;
  height: 5vh;
}

.basket-item {
  padding: 10rem 0;
}

.basket-item:not(:last-child) {
  border-bottom: 1rem solid #e0e0e0;
}

.bakset-btn-group {
  display: flex;
  justify-content: space-between;
  gap: 10rem;
}

.basket-item-main-info {
  flex: 0 0 290rem;
}

.basket-item-product-name {
  font-size: 14rem;
  font-weight: 700;
}

.basket-item-product-descr {
  padding-top: 2rem;
  font-size: 10rem;
  color: #777;
}

.bastet-item-ctrl-group {
  display: flex;
  justify-content: flex-end;
  gap: 10rem;
  flex: 0 1 100%;
}

.basket-item-price {
  font-size: 20rem;
  font-weight: 700;
  white-space: nowrap;
}

.basket-btn {
  flex: 0 1 50%;
  font-size: 16rem;
  cursor: pointer;
  min-height: 50rem;
  border-radius: 10rem;
}

.basket-btn-buy {
  background-color: #5802a3;
  color: #fff;
}

.basket-btn-clear {
  border: 1rem solid #000;
  color: #000;
}

.basket-item-wrapper {
  display: flex;
  gap: 10rem;
}

.basket-item-img {
  width: 125rem;
  flex: 0 0 125rem;
}

.basket-item-btn-delete,
.basket-item-btn-delete > svg {
  width: 25rem;
  height: 25rem;
  cursor: pointer;
}

.basket-item-btn-delete:hover svg path {
  stroke: #5802a3;
}

.basket-item-counter {
  gap: 10rem;
  margin-top: 10rem;
  display: inline-flex;
  align-items: center;
  border: 1rem solid #9c9c9c;
  border-radius: 5rem;
  font-size: 12rem;
  color: #000;
}

.basket-item-counter-count {
  width: 10rem;
  text-align: center;
}

.basket-item-counter-btn {
  cursor: pointer;
  width: 10rem;
  height: 10rem;
  background-position: center;
  background-size: 10rem;
  background-repeat: no-repeat;
  padding: 12rem;
  display: inline-block;
}

.basket-item-counter-btn-plus {
  background-image: url("./assets/imgs/plus.svg");
  border-left: 1rem solid #9c9c9c;
}

.basket-item-counter-btn-minus {
  background-image: url("./assets/imgs/minus.svg");
  border-right: 1rem solid #9c9c9c;
}

.basket-total-price {
  font-size: 18rem;
  padding: 20rem 0;
}

.basket-bottom-group {
  padding: 0 0 20rem;
  height: 12vh;
}

.form {
  max-width: 450rem;
  margin: 200rem auto 0;
  background-color: #fff;
  border-radius: 10rem;
  box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.16);
}

.form-wrapper {
  padding: 50rem 40rem;
  text-align: center;
}

.form-title {
  font-size: 28rem;
  padding-bottom: 20rem;
}

.form-input-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5rem;
}

.form-input-item:not(:last-child) {
  margin-bottom: 18rem;
}

.form-input-text {
  width: 100%;
  padding: 14rem;
  box-sizing: border-box;
  outline: none;
  border: 1rem solid #9c9c9c;
  border-radius: 5rem;
  background-color: #eeeeee;
  font-family: inherit;
}

.form-input-label {
  font-size: 14rem;
  font-weight: 600;
  cursor: pointer;
}

.form-input-btn {
  margin-top: 20rem;
  width: 100%;
  background-color: #5802a3;
  color: #fff;
  padding: 16rem 0;
  border-radius: 5rem;
  cursor: pointer;
  font-weight: 600;
}

.form-text {
  font-size: 14rem;
  color: #777;
  margin-top: 20rem;
}

.form-text span {
  color: #5802a3;
  font-weight: 600;
  cursor: pointer;
}
